<h1 class="display-4">タスクの詳細</h1>
<p><%= notice %></p>

<p>タスク名：<%= @task.task_title %></p>
<p>タスク内容：<%= @task.task_content %></p>
<p>終了期限：<%= @task.deadline %></p>
<p>ステータス：<%= @task.status %></p>
<p>優先順位：<%= @task.priority %></p>
<p>作成者：<%= @task.user.name %></p>
<p>ラベル名：
  <% @task.labels.each do |label| %>
    <%= label.label_name %><a>/</a>
  <% end %>
</p>


<%= link_to '戻る', tasks_path %>


