<h1>タスクの詳細</h1>
<p><%= notice %></p>

<p>タスク名：<%= @task.task_title %></p>
<p>タスク内容：<%= @task.task_content %></p>
<p>終了期限：<%= @task.deadline %></p>
<p>ステータス：<%= @task.status %></p>
<p>優先順位：<%= @task.priority %></p>

<%= link_to '戻る', tasks_path %>
