<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<p><%= link_to 'タスクの新規登録', new_task_path %></p>
<p><%= link_to 'タスク一覧に戻る', tasks_path %></p>

<% if current_user.admin == true %>
  <%= link_to '管理者画面へ', admin_users_path %>
<% end %>
