<h1><%= @user.name %>さんのタスク一覧</h1>
<p>【権限】
  <% if @user.admin == true %>
    <a>管理者</a>
  <% else %>
    <a>一般ユーザー</a>
  <% end %>
</p>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">タスク名</th>
      <th scope="col">終了期限</th>
      <th scope="col">ステータス</th>
      <th scope="col">優先順位</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user.tasks.each do |task| %>
      <tr class="task_table">
        <td><%= task.task_title %></td>
        <td><%= task.deadline %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td>
          <%= link_to '詳細', task_path(task), class:"btn btn-outline-primary" %>
          <%= link_to '編集', edit_task_path(task), class:"btn btn-outline-success" %>
          <%= link_to '削除', task_path(task), method: :delete, data:{confirm: "本当に削除して良いですか？"}, class: "btn btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>